body {
    background-color: #c1c1c1c1;
}

.map {
    background-image: url("../../assets/img/background.png");
    width: 500px;
    height: 500px;
    margin-top: 10%;
    margin-left: 38%;
    position: fixed;
}

.player {
    background-image: url("../../assets/img/player.png");
    width: 20px;
    height: 20px;
    margin-left: 240px;
    margin-top: 240px;
}
